h1{
color: green;
}

*{
    font-family: cursive;
  } 
li{
    color: rgba(245, 24, 28, 0.995);
    font-family: fantasy;
    font-size: medium;
}

td{
    text-align: center;
    
}
th{
    width: 25%;
}


